<app-titulo title="Asistencia" icon="fingerprint"></app-titulo>

<mat-card class="p-3">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Mi turno">
        <app-asist></app-asist>
    </mat-tab>
    <mat-tab label="Reemplazo">
        <app-reemplazo></app-reemplazo>
    </mat-tab>
 </mat-tab-group>   
</mat-card>

<div class="d-flex justify-content-center mt-2 mb-2">
   
    <mat-card class="mt-1 mb-1 marcaciones">
        <mat-card-content class="d-flex justify-content-center" >
            <p class="text-tertary">Sus marcaciones las puede verificar en <a [routerLink]="['/horario']" style="cursor: pointer;">  <strong>En horario</strong></a> haciendo click en cada uno de sus turnos</p>
        </mat-card-content>
    </mat-card>

</div>