<div class="container p-5">
  <div class="mt-5 d-flex align-items-center mb-3 h-100 justify-content-center">
    <!-- @if (usuarioLogeado?.fotoUrl) {
      <img [src]="usuarioLogeado.fotoUrl" alt="Foto de usuario" class="rounded-circle" width="150" height="150" style="object-fit: cover;">
    } @else { -->
      <div class="rounded-circle iniciales text-white d-flex align-items-center justify-content-center" >
      {{ usuarioLogeado?.nombreCompleto | initials}}
        
      </div>
    <!-- } -->
  <div class="d-flex flex-column">
    <span class="ms-3">
      <h3 class="mb-0"> <strong>{{usuarioLogeado?.nombreCompleto | titlecase}}</strong> </h3>
    </span>
    <span class="ms-3">
      <p class="mb-0"> Usuario: {{usuarioLogeado?.userName}}</p>
    </span>
  </div>
</div>
<div class="row mt-5 d-flex justify-content-center">
  <div class="col-12 col-md-4">
    <mat-divider></mat-divider>
    <div class="d-flex flex-column align-items-start">
      <strong class="mt-4 ml-2">Nro Celular:</strong>
      <p class="p-0"> {{usuarioLogeado?.celular}}</p>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <mat-divider ></mat-divider>
    <div class="d-flex flex-column align-items-start" style="height: 200px;">
      <strong class="mt-4 ml-2">Correo:</strong>
      <p class="p-0"> {{usuarioLogeado?.email}}</p>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-4">
  <button mat-flat-button (click)="abrirModalActualizar()">Actualizar datos</button>
</div>

