<app-titulo title="Agente Virtual" icon="support_agent"></app-titulo>
<mat-card class="p-3">
    <div class="iframe-wrapper">
      <iframe 
        src="https://susananswers.com/" 
        title="Susan Answers Website"
        width="100%" 
        height="800px"
        frameborder="0"
        allowfullscreen
        loading="lazy"
        allow="microphone; camera; autoplay; encrypted-media; geolocation; gyroscope; picture-in-picture"
        sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-modals allow-presentation">
        <p>Tu navegador no soporta iframes. 
           <a href="https://susananswers.com/" target="_blank">Haz clic aquí para visitar Susan Answers</a>
        </p>
      </iframe>
    </div>

</mat-card>


