<app-titulo title="Notas" icon="edit_note"></app-titulo>

<mat-card class="p-3">
  <mat-card-subtitle>Obtener notas</mat-card-subtitle>
  <form>
    <div class="row">
      <div class="col-12 col-md-4">
        <mat-form-field>
          <mat-label>Seleccione un turno</mat-label>
          <mat-select name="turno" [(value)]="turno" (selectionChange)="obtenerCurso()">
            @for (turno of turnos; track $index) {
            <mat-option [value]="turno">{{turno.nombre}} </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
     
      <div class="col-12 col-md-4">
        <mat-form-field>
          <mat-label>Curso asociado</mat-label>
          <mat-select [(value)]="curso">
            @if(curso) {
            <mat-option [value]="curso">{{ curso }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>


</mat-card>
<mat-card class="p-3 mt-2 mb-2">
  <div class="row">
    <div class="col-12">
      <div class="row d-flex justify-content-between">
        <div class="col-12 col-md-3 col-lg-3">
          <mat-form-field>
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="búsqueda de un alumno" #input>
          </mat-form-field>

        </div>
        <div class="col-12 col-md-4 col-lg-4">

          <p class="notaMinima"><strong>Actualizado</strong></p>


        </div>
        <div class="col-12 col-md-4 col-lg-4">

          <p class="notaMinima">Nota mínima aprobatoria: <strong>{{turno?.notaMinima}}</strong></p>


        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-12">
          <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort class="table-EC sticky-header">
              <ng-container matColumnDef="index" sticky>
                <mat-header-cell *matHeaderCellDef class="sticky-header-cell index-col">#</mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index" class="sticky-cell index-col text-center">{{ i + 1 }}</mat-cell>
              </ng-container>

            @for (column of displayedColumns;let colIndex = $index; track column) {
            <ng-container [matColumnDef]="column" [sticky]="column === 'alumno'">

              <mat-header-cell *matHeaderCellDef class="sticky-header-cell"
                [class.alumno-col]="column === 'alumno'"
                [class.nota-col]="isNotaColumn(column) || column === 'finalGrade'">
                <div class="col-header">
                  <small class="text-sm"> {{ formatColumnNameLine1(column) | titlecase }}<br>{{
                    formatColumnNameLine2(column) }}</small>

                </div>
              </mat-header-cell>

              <mat-cell *matCellDef="let row" class="d-flex"
                [class.alumno-col]="column === 'alumno'"
                [class.nota-col]="isNotaColumn(column) || column === 'finalGrade'"
                [class.sticky-cell]="column === 'alumno'">
                @if (isNotaColumn(column)) {
                  <input
                        type="number"
                        class="text-center"
                        [(ngModel)]="row[column]"
                        (change)="validarNota(row, column, colIndex)"
                        [attr.max]="getValorMaximo(column)"
                        [attr.min]="0"
                        [disabled]="turno?.registroCerrado"
                        [ngClass]="{
                          'is-valid': row.estadoGuardado?.[column] === true,
                          'is-invalid': row.estadoGuardado?.[column] === false
                        }"
                      />
                } @else {
                  @if (column === 'finalGrade') {
                    <strong [ngClass]="{
                        'text-success': row[column] >= turno?.notaMinima,
                        'text-danger': row[column] < turno?.notaMinima
                      }">
                      {{ row[column] }}
                    </strong>
                  } @else {
                    {{ row[column] }}
                  }
                }
              </mat-cell>

            </ng-container>
            }

            <mat-header-row *matHeaderRowDef="tableColumns" sticky class="sticky-header-row"></mat-header-row>
            <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="10">No se encontraron datos: "{{input.value}}"</td>
            </tr>
          </table>
          </div>

          <mat-paginator [pageSizeOptions]="[50, 100 , 200]" aria-label="Select page of users"></mat-paginator>

        </div>
      </div>

    </div>
  </div>
  <div>
  </div>
</mat-card>

@if (dataSourceRecuperacion.data.length > 0) {
<mat-card class="p-3">
  <div class="d-flex justify-content-center">
    <p class="notaMinima d-flex">Recuerde! que tiene un plazo máximo de&nbsp;<strong>48 horas</strong>&nbsp;para ingresar las notas de recuperación de clases</p>

  </div>
  <mat-card-subtitle>Recuperación de clases</mat-card-subtitle>
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <div class="table-container">
        <table mat-table [dataSource]="dataSourceRecuperacion" matSort class="table-EC sticky-header">
          <ng-container matColumnDef="index" sticky>
            <mat-header-cell *matHeaderCellDef class="sticky-header-cell index-col">#</mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index" class="sticky-cell index-col">{{ i + 1 }}</mat-cell>
          </ng-container>

        @for (column of displayedColumnsRecuperacion;let colIndex = $index; track column) {
        <ng-container [matColumnDef]="column" [sticky]="column === 'alumno'">

          <mat-header-cell *matHeaderCellDef class="sticky-header-cell"
            [class.alumno-col]="column === 'alumno'" [class.nota-col]="isNotaColumn(column) || column === 'finalGrade'">
            <div class="col-header">
              <small class="text-sm"> {{ formatColumnNameLine1(column) | titlecase }}<br>{{
                formatColumnNameLine2(column) }}</small>

            </div>
          </mat-header-cell>

          <mat-cell *matCellDef="let row" class="d-flex justify-content-center" 
            [class.alumno-col]="column === 'alumno'"
            [class.nota-col]="isNotaColumn(column) || column === 'finalGrade'" 
            [class.sticky-cell]="column === 'alumno'">
            @if (isNotaColumn(column)) {
              <input 
                class="text-center" 
                type="number" 
                [(ngModel)]="row[column]" 
                [attr.max]="getValorMaximo(column)"
                [attr.min]="0" 
                (change)="validarNotaRecuperacion(row, column, colIndex)"
                [disabled]="turno?.registroCerrado || row.guardando?.[column]" 
                [ngClass]="{
                  'is-valid': row.estadoGuardado?.[column] === true,
                  'is-invalid': row.estadoGuardado?.[column] === false
                }" 
              />
            } @else {
              @if (column === 'finalGrade') {
                <strong [ngClass]="{
                  'text-success': row[column] >= turno?.notaMinima,
                  'text-danger': row[column] < turno?.notaMinima
                }">
                  {{ row[column] }}
                </strong>
              } @else {
                {{ row[column] }}
              }
            }
          </mat-cell>

        </ng-container>
        }

        <mat-header-row *matHeaderRowDef="tableColumns" sticky class="sticky-header-row"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="10">No se encontraron datos: "{{input.value}}"</td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</mat-card>

} 
<div class="row mt-2">
  <div class="col-12 d-flex justify-content-center gap-2">
    <input #fileInput type="file" accept=".xlsx,.xls" style="display: none;" (change)="onFileSelected($event)">
    
    <button mat-raised-button color="accent" 
            (click)="fileInput.click()" 
            [disabled]="!turno || turno?.registroCerrado">
      <mat-icon>upload</mat-icon>
      IMPORTAR EXCEL
    </button>
    
    <button mat-raised-button color="primary" 
            (click)="exportarNotasAExcel()" 
            [disabled]="!dataSource?.data?.length">
      <mat-icon>download</mat-icon>
      EXPORTAR A EXCEL
    </button>
    
    <button mat-raised-button 
            (click)="confirmarCerrarActa()" 
            [disabled]="turno?.registroCerrado || tieneNotasVacias()">
      <mat-icon>close</mat-icon>
      CERRAR ACTA
    </button>
  </div>
</div>