<div class="container-fluid">
    <div class="row fondo-imagen" >
      @if (loading.loading$ | async ) {
        <mat-progress-bar mode="indeterminate" class="flotante"></mat-progress-bar>
    
    }
        <div class="col-12">
            <div class="login-container">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form" aria-labelledby="login-title">
                  <h1 class="text-center title">DOCENTES</h1>
                  
                  <div class="form-group logo-container">
                <img src="images/logoActual_azul.png" alt="" [width]="150" lazyload="lazy" priority>
                    <mat-form-field class="mt-4">
                        <mat-label>Usuario</mat-label>
                        <input type="text" formControlName="username" matInput placeholder="Ingresa tu usuario" aria-describedby="username-error">
                        <mat-error>Ingrese un usuario válido</mat-error>
                    </mat-form-field>
                  </div>
              
                  <div class="form-group">
                    <mat-form-field>
                        <mat-label>Contraseña</mat-label>
                        <input type="password" formControlName="password" matInput placeholder="Ingresa tu contraseña" aria-describedby="password-error">
                        <mat-error>Ingrese una contraseña válida</mat-error>
                    </mat-form-field>
                  </div>
              
                  <button  type="submit" class="login-btn submit-button" [disabled]="!loginForm.valid">
                    <span class="button-text">INGRESAR</span>
                  </button>
                </form>
              </div>
        </div>
    </div>

</div>
