@use '@angular/material' as mat;

mat-toolbar {
  display: flex;
  align-items: center;
  height: 80px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  @include mat.toolbar-overrides(
    (
       container-background-color: #314f9b,
      container-text-color: white,
    )
  );

  @include mat.icon-button-overrides(
    (
      icon-color: white,
    )
  );
}

.selected-theme {
  @include mat.menu-overrides(
    (
      item-icon-color: white,
      item-label-text-color: white,
    )
  );
}

.flex-stretch {
  flex: 1 0 auto;
}

.flotante {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2
}