
@if (mostrarrefresh) {
    <div class="d-flex align-items-center justify-content-center" style="height: 400px; width: auto;" >
      <div class="row" >
        <div class="col-12 mt-5">
          <div class="alert alert-primary" role="alert">
            Esté turno no tiene reemplazo asignado.
          </div>
        </div>
      </div>
    </div>
  }@else {
  
    <div class="container mt-2">
      <mat-card class="mb-2">
        <form [formGroup]="asistenciaForm">
          <mat-form-field appearance="outline">
            <mat-label>Profesor</mat-label>
           
            <input type="text" matInput formControlName="profesor">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Curso</mat-label>
           
            <input type="text" matInput formControlName="curso">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Aula</mat-label>
           
            <input type="text" matInput formControlName="aula">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Turrno</mat-label>
           
            <input type="text" matInput formControlName="turno">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Desde - Hasta</mat-label>
           
            <input type="text" matInput formControlName="descripcion">
          </mat-form-field>
          
        </form>
  @if( isCurrentEvent(data)) {

    <mat-card-actions class="d-flex justify-content-between">
      <button mat-raised-button [disabled]="asistenciaForm.get('horaEntradaReemplazo')?.value" (click)="entrada()">
        <mat-icon class="material-symbols-outlined">
          arrow_forward_ios           
          </mat-icon>
        ENTRADA</button>
      <button mat-raised-button (click)="salida()">
        <mat-icon class="material-symbols-outlined">
          arrow_back_ios_new
          </mat-icon>
        SALIDA</button>
    </mat-card-actions>
  
  }
    </mat-card>
    
    @if(asistenciaForm.get('horaEntradaReemplazo')?.value ) {
      <div class="alert alert-info" role="alert">
        Hora de entrada <strong>{{asistenciaForm.get('horaEntradaReemplazo')?.value | date: 'HH:mm'}}</strong>
      </div>
    }
    @if(asistenciaForm.get('horaSalidaReemplazo')?.value) {
      <div class="alert alert-secondary" role="alert">
        Hora de Salida <strong>{{asistenciaForm.get('horaSalidaReemplazo')?.value | date: 'HH:mm'}}</strong>
      </div>
    }
    </div>
  }
  
