
  @if (mostrarrefresh) {
      <div class="d-flex align-items-center justify-content-center" >
        <div class="row">
          <div class="col-12 mt-5">
            <div class="alert alert-primary" role="alert">
              Su turno aparecera 10 minutos antes de su inicio
            </div>
            <div class="col-mt-1 d-flex justify-content-center">
              <button mat-flat-button (click)="obtenerHorario()">
                <mat-icon>refresh</mat-icon>Actualizar
              </button>
            </div>
          </div>
        </div>
      </div>
    }@else {

      <div class="container mt-2">
        <mat-card class="p-4 mb-2">
          <mat-list>
            <mat-list-item>
              <mat-icon matListItemIcon>person</mat-icon>
              <div matListItemTitle>Profesor</div>
              <div matListItemLine>{{asistenciaForm.get('profesor')?.value}}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon matListItemIcon>class</mat-icon>
              <div matListItemTitle>Curso</div>
              <div matListItemLine>{{asistenciaForm.get('curso')?.value}}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon matListItemIcon>meeting_room</mat-icon>
              <div matListItemTitle>Aula</div>
              <div matListItemLine>{{asistenciaForm.get('aula')?.value}}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon matListItemIcon>schedule</mat-icon>
              <div matListItemTitle>Turno</div>
              <div matListItemLine>{{asistenciaForm.get('turno')?.value}}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon matListItemIcon>access_time</mat-icon>
              <div matListItemTitle>Desde - Hasta</div>
              <div matListItemLine>{{asistenciaForm.get('descripcion')?.value}}</div>
            </mat-list-item>
          </mat-list>
    @if ( isCurrentEvent(data)) {
        <mat-card-actions class="d-flex justify-content-between">
          <button mat-raised-button [disabled]="asistenciaForm.get('horaEntrada')?.value "  (click)="entrada()">
            <mat-icon class="material-symbols-outlined">
              arrow_forward_ios
              </mat-icon>
            ENTRADA</button>
          <button mat-raised-button (click)="salida()">
            <mat-icon class="material-symbols-outlined">
              arrow_back_ios_new
              </mat-icon>
            SALIDA</button>
        </mat-card-actions>

    }

      </mat-card>

      @if(asistenciaForm.get('horaEntrada')?.value ) {
        <div class="alert alert-info" role="alert">
          Hora de entrada <strong>{{asistenciaForm.get('horaEntrada')?.value | date: 'HH:mm'}}</strong>
        </div>
      }
      @if(asistenciaForm.get('horaSalida')?.value) {
        <div class="alert alert-secondary" role="alert">
          Hora de Salida <strong>{{asistenciaForm.get('horaSalida')?.value | date: 'HH:mm'}}</strong>
        </div>
      }
      </div>
    }
