@use '@angular/material' as mat;

.alumno-col {
  min-width: 200px;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-EC{
  @include mat.table-overrides((
   background-color: var(--mat-sys-surface),
   row-item-container-height: '40px',
  ));
}
.advertencia{
   background-color: var(--mat-sys-tertiary-container);
  color: var(--mat-sys-on-tertiary-container);
}

.registro-asistencia  {
 background-color: var(--mat-sys-tertiary-container);
  color: var(--mat-sys-on-tertiary-container);
}