
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use '../theme-colors' as my-theme;


font-face {
  font-family: 'MDPrimer';
  src: url('/fonts/MDPrimer-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MDPrimer';
  src: url('/fonts/MDPrimer-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MDPrimer';
  src: url('/fonts/MDPrimer-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MDPrimer';
  src: url('/fonts/MDPrimer-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'MDPrimer';
  src: url('/fonts/MDPrimer-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}





 html {
   color-scheme: light dark;
   @include mat.theme((
     color: (
      primary: my-theme.$primary-palette ,
      tertiary: my-theme.$tertiary-palette,
      
     ),
     typography: Roboto,
      theme-type: var(color-scheme),
      use-system-variables: true,
    system-variables-prefix: sys
   ));
 }
/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100%;
  
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
   @include mat.form-field-overrides((
    outlined-disabled-input-text-color: var(--mat-sys-on-surface),
    outlined-disabled-label-text-color: var(--mat-sys-primary),
  ));
}

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

h2,
p {
  padding: 16px;
}

.mr-8 {
  margin-right: 8px;
}

.tabla-EC{
  @include mat.table-overrides((
    background-color: var(--mat-sys-on-outline),
     row-item-container-height: '2px'
  ));
}

  .mat-mdc-header-cell {
    background-color:#003384 !important;
    color: white!important;
  }

.mat-mdc-form-field {
 width: 100%;

}

@include mat.form-field-overrides((
  filled-container-color: var(--mat-sys-inverse-on-surface),
  filled-focus-active-indicator-color: var(--mat-sys-primary),
));


@include mat.sidenav-overrides((
  container-background-color: var(--mat-sys-on-tertiary-fixed),
  container-text-color: var(--mat-sys-on-surface),
  container-divider-color: var(--mat-sys-on-outline)
));


@include mat.card-overrides((
  
  ));

@include mat.tabs-overrides(( background-color: var(--mat-sys-primary), active-hover-indicator-color:var(--mat-sys-primary) ));


  .cal-scheduler-time-segment {
    font-size: small !important;
  }
  
  // .NgxEditor{
  //   background-color: var(--mat-sys-surface) !important;
  // }

  .NgxEditor__MenuBar{
    background-color: var(--mat-sys-surface) !important;
    color: var(--mat-sys-on-surface) !important;
  }

  .mat-elevation-z8 {
  max-width: 100%;
  overflow: auto;
  }

  .cal-scheduler-time-segment{
    background-color: var(--mat-sys-surface);
    color:  var(--mat-sys-on-surface);
  }

  .cal-scheduler-hour-segments
  {
    background-color: var(--mat-sys-surface) !important;
    color:  var(--mat-sys-on-surface) !important;
  }
  .cal-scheduler-event-title {
    color: var(--mat-sys-surface-container-lowest);
  }
  .cal-scheduler-event-content {
    color: var(--mat-sys-surface-container-lowest);
  }

  .colors {
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
  }

  .g-input {
    color: var(--mat-sys-on-outline);
  }

.cal-scheduler-view .cal-scheduler-headers .cal-header.cal-today {
  background-color: var(--mat-sys-primary) !important;
  color: var(--mat-sys-on-primary) !important;
}


.fila-green {
  @include mat.table-overrides((
    row-item-outline-color: green,
    row-item-label-text-color: green,
  ));
}
.fila-yellow {
  @include mat.table-overrides((
    row-item-outline-color: var(--mat-sys-tertiary),
    row-item-label-text-color: var(--mat-sys-tertiary)
  ));
}

.table {
  @include mat.table-overrides((
   
  ));
}

textarea{
  field-sizing: content;
}

.snack-success {
  @include mat.snack-bar-overrides((
    container-color:  var(--mat-sys-primary),
   supporting-text-color: var(--mat-sys-on-primary)
  ));
}
 .snack-error {
  @include mat.snack-bar-overrides((
    container-color:var(--mat-sys-error),
    supporting-text-color: var(--mat-sys-on-error)
  ));
}


// // Tema claro (default)
// @media (prefers-color-scheme: light) {
//   body[data-bs-theme="light"] {
//     @include mat.theme-overrides((
//        primary: #003384,
//        on-primary: white,
//      ));

//   }
// }

// // Tema oscuro
// @media (prefers-color-scheme: dark) {
//  body[data-bs-theme="dark"]  {
//     @include mat.theme-overrides((
//      primary: #0056B4,
//      on-primary: black,
//    ));

//   }
// }

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; } // Cambia 0 por 0.3 para que nunca desaparezca del todo
}
.blinking-event {
  animation: blink 3s infinite;/* Amarillo suave */
  border: 2px solid #003384 !important; /* Rojo fuerte para llamar la atención */
}

.blinking-event:hover {
  animation-play-state: paused;
}