
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use '../theme-colors' as my-theme;


font-face {
  font-family: 'MDPrimer';
  src: url('/fonts/MDPrimer-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MDPrimer';
  src: url('/fonts/MDPrimer-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MDPrimer';
  src: url('/fonts/MDPrimer-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MDPrimer';
  src: url('/fonts/MDPrimer-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'MDPrimer';
  src: url('/fonts/MDPrimer-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}





 html {
   color-scheme: light dark;
   @include mat.theme((
     color: (
      primary: my-theme.$primary-palette ,
      tertiary: my-theme.$tertiary-palette,
      
     ),
     typography: Roboto,
      theme-type: var(color-scheme),
      use-system-variables: true,
    system-variables-prefix: sys
   ));
 }
/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100%;
   @include mat.form-field-overrides((
    outlined-disabled-input-text-color: var(--mat-sys-on-surface),
    outlined-disabled-label-text-color: var(--mat-sys-primary)
  ));
  @include mat.card-overrides((
   subtitle-text-color: var(--mat-sys-primary),
   elevated-container-color: var(--mat-background),
  ));

  @include mat.expansion-overrides((
    actions-divider-color: var(--mat-background),
    container-background-color: var(--mat-sys-surface),
    container-text-color: var(--mat-sys-primary),
  ));

@include mat.tabs-overrides(( background-color: var(--mat-sys-primary), active-hover-indicator-color:var(--mat-sys-primary) ));
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  
}

  @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

h2,

.mr-8 {
  margin-right: 8px;
}

.tabla-EC{
  @include mat.table-overrides((
     background-color: var(--mat-sys-container),
     row-item-container-height: '40px'
  ));
}

  .mat-mdc-header-cell {
    background-color:var(--mat-sys-primary) !important;
    color:var(--mat-sys-on-primary)!important;
    height: 25px;
  }

   @include mat.sort-overrides((
    arrow-color: var(--mat-sys-on-primary),
  ));

.mat-mdc-form-field {
 width: 100%;

}


.titulo {
  font-weight: 600;
  color: var(--mat-sys-primary);
}


@include mat.form-field-overrides((
  filled-container-color: var(--mat-sys-inverse-on-surface),
  filled-focus-active-indicator-color: var(--mat-sys-primary),
));


@include mat.sidenav-overrides((
  container-background-color: var(--mat-sys-on-tertiary-fixed),
  container-text-color: var(--mat-sys-on-surface),
  container-divider-color: var(--mat-sys-on-outline)
));





  .cal-scheduler-time-segment {
    font-size: small !important;
  }
  
  // .NgxEditor{
  //   background-color: var(--mat-sys-surface) !important;
  // }

  .NgxEditor__MenuBar{
    background-color: var(--mat-sys-surface) !important;
    color: var(--mat-sys-on-surface) !important;
  }

  .mat-elevation-z8 {
  max-width: 100%;
  overflow: auto;
  }

  .cal-scheduler-time-segment{
    background-color: var(--mat-sys-surface);
    color:  var(--mat-sys-primary);
  }

  .cal-scheduler-hour-segments
  {
    background-color: var(--mat-sys-surface) !important;
    color:  var(--mat-sys-on-primary) !important;
  }
  .cal-scheduler-event-title {
    color: var(--mat-sys-surface-container-lowest);
  }

  .cal-scheduler-view .cal-scheduler-headers .cal-header:hover {
    background-color: var(--mat-sys-on-container) !important;
}

  .cal-scheduler-event-content {
    color: var(--mat-sys-surface-container-lowest);
  }

  .colors {
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
  }

  .g-input {
    color: var(--mat-sys-on-outline);
  }

.cal-scheduler-view .cal-scheduler-headers .cal-header.cal-today {
  background-color: var(--mat-sys-tertiary-container) !important;
  color: var(--mat-sys-on-tertiary-container) !important;
}

.cal-scheduler-view .cal-scheduler-headers .cal-header.cal{
  color: var(mat-sys-on-primary) !important;
}

.cal-scheduler-view .cal-scheduler .cal-scheduler-cols:not(.cal-resize-active) .cal-scheduler-hour-segment:hover {
     background-color: var(--mat-sys-on-container) !important;
}

.cal-scheduler-view .cal-scheduler-headers .cal-header.cal-weekend span {
    color: var(--mat-sys-error) !important;
}

.cal-scheduler-view .cal-scheduler .cal-scheduler-cols {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    border-top: 1px solid #e1e1e1;
}

// .cal-scheduler-view .cal-scheduler .cal-scheduler-cols .cal-scheduler-col {
//     display: -webkit-box;
//     display: -moz-box;
//     display: -ms-flexbox;
//     display: flex
// ;
//     -webkit-flex-flow: column wrap;
//     flex-flow: column wrap;
//     flex: 1 0;
//     position: relative;
//     border-right: 1px solid var(--mat-sys-on-surface) !important;
// }

.cal-scheduler-col{

}
@include mat.form-field-overrides((
  filled-container-color: var(--mat-sys-inverse-on-surface),
  filled-focus-active-indicator-color: var(--mat-sys-primary),
));

.fila-green {
  @include mat.table-overrides((
    row-item-outline-color: green,
    row-item-label-text-color: green,
  ));
}
.fila-yellow {
  @include mat.table-overrides((
    row-item-outline-color: var(--mat-sys-tertiary),
    row-item-label-text-color: var(--mat-sys-tertiary)
  ));
}

textarea{
  field-sizing: content;
}

.snack-success {
  @include mat.snack-bar-overrides((
    container-color:  var(--mat-sys-primary),
   supporting-text-color: var(--mat-sys-on-primary)
  ));
}
 .snack-error {
  @include mat.snack-bar-overrides((
    container-color:var(--mat-sys-error),
    supporting-text-color: var(--mat-sys-on-error)
  ));
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; } // Cambia 0 por 0.3 para que nunca desaparezca del todo
}
.blinking-event {
  animation: blink 3s infinite;/* Amarillo suave */
  border: 2px solid #003384 !important; /* Rojo fuerte para llamar la atención */
}

.blinking-event:hover {
  animation-play-state: paused;
}

.advertencia {
  background-color: var(--mat-sys-tertiary-container);
  color: var(--mat-sys-on-tertiary-container);
}