<app-navbar (toggleSidenav)="abrirSidenav(drawer)"></app-navbar>
<mat-sidenav-container class="mat-drawer-container" autosize apparence="outlined">
  <mat-sidenav #drawer class="sidenav mt-1 mb-1" [mode]="isMobile() ? 'over' : 'side'" [(opened)]="opened"
  [fixedInViewport]="isMobile()" fixedTopGap="56" [style.width]="opened ? '240px' : '60px'" class="mt-4">
  
  <mat-nav-list>      
    @for(ruta of menuItems; track ruta) {
        <a mat-list-item class="mat-list-item mb-1" [routerLink]="'./' + ruta.path " routerLinkActive="active"
           [style.justify-content]="!opened ? 'center' : 'flex-start'">
          <mat-icon matListItemIcon [style.margin-right]="opened ? '16px' : '0'">{{ruta.data['icon'] }}</mat-icon>
          @if(opened) {
            <span matListItemTitle>{{ruta.title}}</span>
          }
        </a>                
      }
    </mat-nav-list>
    
  
</mat-sidenav>
<mat-sidenav-content>
  <div class="container-fluid">
        <router-outlet></router-outlet>
          <footer class="pt-5 my-5 text-body-secondary text-center">
         Created by El Cultural · © 2025
       </footer>
      </div>
    </mat-sidenav-content>
  
  </mat-sidenav-container>