@use '@angular/material' as mat;

@include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-surface),
    )
  );

  .mat-drawer-container{
    height: 91%;
      @include mat.sidenav-overrides((
          container-width: 250px,
          container-background-color: var(--mat-sys-surface),
          container-text-color: var(--mat-sys-primary),
      ));
  }

  .mat-list-group {
    @include mat.list-overrides((
        list-item-selected-container-color: var(--mat-sys-tertiary),
  ));
  }
.mat-list-item {
    @include mat.list-overrides((
      active-indicator-color: var(--mat-sys-primary),
      list-item-label-text-size: 15px
    ));
}
 
 .sidenav {
    height: 100%;
    width: 230px;
  transition: width 0.3s;
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  }

  .nav-text {
    margin-left: 16px;
    transition: opacity 0.3s, width 0.3s;
  }

  .sidenav.collapsed {
    width: 70px;
  }

  .mat-list-item:hover {
    font-weight: bold;
  }

  .sidenav.collapsed .nav-text {
    opacity: 0;
    width: 0;
    overflow: hidden;
  }

  .divider {
  @include mat.divider-overrides((
    color: var(--mat-sys-surface-container),
  ));
}

  .active {
    font-weight: bold;
    // color: var(--mat-sys-on-primary);

    @include mat.list-overrides((
       list-item-label-text-color: var(--mat-sys-primary),
         list-item-container-color: var(--mat-sys-surface-container-high),
         list-item-leading-icon-color:var(--mat-sys-primary),
          list-item-hover-label-text-color:var(--mat-sys-primary),
         list-item-focus-label-text-color:var(--mat-sys-primary),
    ));
  }

  .mat-sidenav-content, 
.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  flex: 1;
}

footer {
  margin-top: auto;
}
